* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: rgb(27, 27, 27);
}

.navbar {
    background-color: rgb(48, 48, 48);
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
}


#Layer_2 {
    height: 1.5rem;
}

.inputLayer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.formOrient {
    display: flex;
    flex-direction: column;
}

h1, label {
    color: white;
}


